/* Login.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .input-field {
    margin-bottom: 10px;
  }
  
  .submit-button {
    width: 100%;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  